* {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

body {
    background-image: url();
}

/* Heading and nav bar */
header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 10px;
    background: orange;
    border-bottom: 10px solid black;
}

header h1 {
    font-size: 200%;
    padding-left: 20px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0px;
    justify-content: space-around;
    font-size: 125%;
    padding-top: 10px;
    padding-right: 10px;
    border-left-width: 20px;
    width: 400px;
}

div {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

div h3 {
    text-align: center;
    font-size: 150%;
    border-bottom: solid;
}

div p, div a{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image2 {

}

.otherh3 {
    padding-top: 20px;
}

.Contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}